img {
    border-radius: 90%;
    width: 80px;
    height: 80px; 
}

table {
    font-family: Arial;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: blanchedalmond;
  }
  .performance {
      width: 80%;
  }

  .container {
      margin-left: 2%;
  }